<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>mooc</title>
</head>
<body>
  <div>logging out...</div>
</body>
<script>
  setTimeout(function(){
    window.location="/mooc";
  },1000);
</script>
</html>